<!DOCTYPE html>
<html lang="pt-BR">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Consulta</title>
      <!-- Incluindo Bootstrap CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="/">Biblioteca</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-dark" href="/">Home</a>
              </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/consulta/">Consulta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/reserva/">Reserva</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/autores/">Autores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/editoras/">Editoras</a>
            </li>
           <li class="nav-item">
              <a class="nav-link text-dark" href="/generos/">Gêneros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="/admin/">Administração</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container mt-5">
        <h2 class="mb-4">Tabela de Livros</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Autor</th>
                  <th scope="col">Editora</th>
                  <th scope="col">Gênero</th>
                  <th scope="col">Preço</th>
                  <th scope="col">Data Publicação</th>
                    <th scope="col">Status</th>
                </tr>
                {% for Livro in consultas %}
              </thead>
              <tbody>
               <td>{{Livro.nome}}</td>
               <td>{{Livro.autor}}</td>
               <td>{{Livro.editora}}</td>
               <td>
                   {% for genero in Livro.generos.all %}
                        {{genero.nome}}{% if not forloop.last %}, {% endif %}
                   {% endfor %}
               </td>
               <td>{{Livro.preco}}</td>
               <td>{{Livro.data_publicacao}}</td>
                <td>{{Livro.status}}</td>
              </tbody>
               {% endfor %}
            </table>
          </div>
        </div>
      </div>

      <!-- Incluindo jQuery e Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>